body {
  background-color: #2b2b2b;
  color: #f8f8f2;
  font-family: Consolas, monospace;
  font-size: 14px;
  margin-left: 30px;
}

pre {
  margin: 0px;
}

span {
  display: inline-block;
}

span.keyword {
  color: #ff0000;
}

span.operator {
  color: #d10000;
  margin: 0 -7px;
}

span.separator {
  color: #ffff00;
  margin: 0 -5px;
}

span.identifier {
  color: #cccccc;
}

span.number {
  color: #bf00ff;
}

span.string {
  color: #ffee58;
  margin-right: -5px;
}

span.comment {
  color: #75715e;
}

span.System {
  color: #8453ff;
}